body {
  height: 100vh;
  font-family: "Inter", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Libre Caslon Text", serif;
}
