body {
  height: 100vh;
  font-family: "Inter", serif;
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-weight: 200;
  font-size: 5vw;
  text-transform: uppercase;
  font-family: "Libre Caslon Text", serif;
}

main {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
