nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 5vw;
  text-transform: uppercase;
  mix-blend-mode: difference;
  font-weight: 300;
  color: #ffffff;
}
